@{
    ViewData["Title"] = "Thành Công";
}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <h6>Chúc mừng!</h6>
                            <h2>Hồ sơ đã được <em>Gửi thành công</em></h2>
                            <p>@ViewData["Message"]</p>
                            <p>Chúng tôi sẽ xử lý hồ sơ của bạn trong thời gian sớm nhất. Bạn sẽ nhận được thông báo qua email hoặc số điện thoại đã đăng ký.</p>
                            <div class="hero-buttons">
                                <a href="/" class="main-button me-3">
                                    <i class="fas fa-home me-2"></i>Về Trang Chủ
                                </a>
                                <a href="/Services/DangKyDoanhNghiep" class="main-button-outline">
                                    <i class="fas fa-plus me-2"></i>Đăng Ký Thêm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="~/assets/images/banner-right-image.png" alt="Success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Bước tiếp theo</h2>
                    <p>Hồ sơ của bạn đã được gửi thành công. Dưới đây là những gì sẽ xảy ra tiếp theo:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="item text-center">
                    <div class="icon mb-3">
                        <i class="fas fa-check-circle fa-3x text-success"></i>
                    </div>
                    <h4>Xác nhận hồ sơ</h4>
                    <p>Hồ sơ đã được gửi và đang được xử lý</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="item text-center">
                    <div class="icon mb-3">
                        <i class="fas fa-search fa-3x text-primary"></i>
                    </div>
                    <h4>Kiểm tra thông tin</h4>
                    <p>Thông tin sẽ được kiểm tra và xác minh</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="item text-center">
                    <div class="icon mb-3">
                        <i class="fas fa-clock fa-3x text-warning"></i>
                    </div>
                    <h4>Xử lý hồ sơ</h4>
                    <p>Thời gian xử lý từ 3-5 ngày làm việc</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="item text-center">
                    <div class="icon mb-3">
                        <i class="fas fa-envelope fa-3x text-info"></i>
                    </div>
                    <h4>Thông báo kết quả</h4>
                    <p>Bạn sẽ nhận được thông báo qua email/SMS</p>
                </div>
            </div>
        </div>
    </div>
</div> 